###> docker (optionnel) ###
# BUILD_WHEN_INSTALL=true
# PHP_IMAGE=php:8.3-cli
###< docker ###

AM_DRIVER_AM_BASE_URL=https://application-manager.example
AM_DRIVER_SOURCE=captain-learning
AM_DRIVER_CONSUMPTION_WEBHOOK_TOKEN=change-me
AM_DRIVER_ORCHESTRATION_CALLBACK_TOKEN=change-me
AM_DRIVER_ORCHESTRATION_COMMAND_TOKEN=change-me
AM_DRIVER_OPERATIONAL_STATE_TOKEN=change-me
